$first-color: red;
$second-color: blue;
$third-color: green;

div {
    border: 1px solid $first-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        color: $third-color;
        text-decoration: 2px underline $second-color;
    }
    section {
        display: flex;
        border: 1px solid $third-color;
        border-left: 0;
        margin: 4px;
        article {
            border: 1px solid $third-color;
            p {
                color: $second-color;
                text-align: center;
            }
            &:nth-last-of-type(odd) {
                p {
                    color: red;
                }
            }
        }
       
    }
}
