$first-color: red;
$second-color: blue;
$third-color: green;
$misure: 1px;
$align: center;
div {
  display: flex;
  flex-direction: column;
  border: $misure solid $first-color;
  align-items: $align;
  h1 {
    color: $third-color;
    text-decoration: calc($misure + 1px) underline $second-color;
    text-align: $align;
  }
  section {
    display: flex;
    margin: 8px;
    padding-bottom: calc($misure + 3px);
    @mixin card-info($color, $border-color, $font-size: 1rem) {
      color: $color;
      border: $misure solid $border-color;
      font-size: $font-size;
    }
    article {
      @include card-info($second-color, $third-color);
      p {
        text-align: $align;
      }
      &:nth-last-of-type(odd) {
        color: $first-color;
      }
    }
    &:last-child article {
      @include card-info($third-color, $second-color, 24px);
    width: 97vw;
    }
  }
}
